
 <div class="page_clip">
   

      <h1 id="titleVideo">ClipsVidéo</h1>  
      
       <div class="container-player">
        <div id="mediaPlayer">
            <div class="lds-ring" id="preload"><div></div><div></div><div></div><div></div></div>
            <video id='media-video' preload>
                <source src="pat/site/video/ajj/Logo.mp4" type='video/mp4'>
            </video>
            <div id="controls">
                <button id="play"><i class="fas fa-pause"></i></button>
                <button id="audioVolume" class="fas fa-volume-off"></button>
                <div id="progressBar">
                    <div id="progress"></div>
                </div>
                <div id="timer">
                    <span id="start"> 0 : 00</span>
                </div>
                <button id="expand"><i class="fas fa-expand"></i></button>
            </div>
        </div>
        <div id="playlist">  
        </div>


 </div>

    

