/*Progress Bar*/
#php-progress{
    border: 1px solid #ddd;
    width: 100%;
	height: 20px;
}
#php-progress .progress-bar{
	background: #bde1ff;
    width: 1px;
    height: 20px;
}

#mp4-ftp-progress, #ogg-ftp-progress, #jpeg-ftp-progress{
    border: 1px solid #ddd;
    width: 30%;
	height: 20px;
}
#mp4-ftp-progress .progress-bar, #ogg-ftp-progress .progress-bar, #jpeg-ftp-progress .progress-bar{
	background: #fde1af;
    width: 1px;
    height: 20px;
}

body { 
background-color: black; 
margin : 1px auto; 
margin-top : 1px; 
color: white;
font-family : Dejavu, Georgia, Geneva, serif; 
text-align : center; 
}

#lien{
background: black;
width:70px;
height:60px;
}

#lien p{ 
margin:5px 3px;
}
#lien a{ 
outline : none;
} 
#lien a:link { 
text-decoration : none; 
color : #ffffff; 
} 
#lien a:visited { 
text-decoration : none; 
color : #9ab0aa; 
} 
#lien a:hover { 
text-decoration : underline; 
color : #c1dabf; 
} 
#lien a:active { 
text-decoration : none; 
color : #ffffff; 
} 

div.blackbg
  {

  background-color:black;
  border:1px solid white;
  }
div.blackbg p {
  font-weight:bold;
  color:white;
  }
td.siret {
font-size: small;
font-family:arial;
}